.coin {
    &-title {
        text-shadow: 1px 2px 0px #000;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: #000;
    }
}

.tokenomics {
    &-title {
        text-shadow: 1px 2px 0px #000;
        -webkit-text-stroke-width: 0.4px;
        -webkit-text-stroke-color: #000;
    }


}