@import url('https://fonts.cdnfonts.com/css/dovens-personal-use');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
$font-1: "Quicksand", sans-serif;
$font-2: "Dela Gothic One", sans-serif;
$font-3: 'DOVENS Personal Use', sans-serif;
$font-4: "Montserrat", sans-serif;
$font-5: "DM Sans", sans-serif;
$font-6: "Luckiest Guy", cursive;
@import url('https://fonts.cdnfonts.com/css/londrina-solid');
$white: #fff;
$black: #000;
$primary: #FECC00;
$text: $black;
$heading: $white;
$border: #4B4B4B;
$bg: #70F4CE;